fastapi
uvicorn
python-multipart
scipy
torch --index-url https://download.pytorch.org/whl/cpu
numpy>=2
pydantic>=2
sentencepiece>=0.2.1
beartype>=0.22.5
safetensors>=0.4.0
typer>=0.10.0
typing_extensions>=4.0.0
einops>=0.4.0
huggingface_hub>=0.10
requests>=2.20.0
